rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Zabezpieczenie kolekcji profili - użytkownik ma pełen dostęp tylko do swojego profilu i projektów
    match /profiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Podkolekcja projektów
      match /projects/{projectId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // Kolekcja użytkowników (używana do weryfikacji unikalności Nicku) - każdy zalogowany może czytać
    match /users/{cleanNick} {
      allow read: if true;
      // Zapisujemy przy rejestracji
      allow write: if request.auth != null;
    }

    // Katalog zespołów (szablony) - otwarty dla wszystkich do odczytu i zapisu
    match /teams_templates/{document=**} {
      allow read, write: if true;
    }
  }
}